body, h1, h2, h3, p, li, ul, ol, nav, section, header, footer, strong, div, span, aside, a, button, form, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  text-decoration: inherit;
  background: transparent; }

ul, ol {
  list-style: none; }

*:focus {
  outline: none; }

.blur {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center; }

.modal {
  background-color: white;
  width: 500px;
  height: 350px;
  opacity: 1;
  padding: 40px;
  border: 1px solid black;
  animation-name: expand;
  animation-duration: 1s;
  color: black;
  display: none;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 2px black; }

@keyframes expand {
  from {
    width: 200px;
    height: 350px;
    opacity: 0.0; }
  to {
    width: 500px;
    height: 350px;
    opacity: 1; } }
.modal-display {
  display: flex; }

.modal-title {
  font-size: 30px;
  font-family: 'Amiri', serif;
  letter-spacing: 1.5px;
  margin-top: 6.5%; }

.modal-title,
.modal-question {
  margin-bottom: 15px; }

.modal-description {
  margin-bottom: 40px; }

.modal-question {
  font-weight: bold; }

.modal-buttons {
  display: flex;
  flex-direction: column-reverse; }

.modal-buttons div {
  background-color: lightgray;
  border: solid 1px black;
  justify-content: center;
  margin: 5px auto;
  width: 40%;
  font-size: 13px;
  padding: 10px;
  text-align: center; }

.modal-buttons div:hover {
  background-color: var(--watch-red);
  color: white;
  cursor: pointer;
  font-weight: 900; }

:root {
  --watch-red: #9D2A37; }

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */ }

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

li {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

h1, h2 {
  font-family: 'Amiri', serif;
  text-align: center; }

label {
  font-family: 'Amiri', serif; }

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px; }

a:default,
a:visited {
  color: white; }

a:hover {
  cursor: pointer;
  color: gray; }

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column; }
  .theme-light body {
    background-color: white; }
  .theme-dark body {
    background-color: black; }

.title {
  font-size: 36px;
  background-color: black;
  color: white;
  font-weight: 500;
  height: 62px;
  padding-top: 1px;
  letter-spacing: 5px; }

.content {
  display: flex;
  margin: 15px 0px; }

.sides {
  flex: 3;
  margin: auto 30px;
  height: 75vh;
  overflow-x: hidden; }
  .theme-light .sides {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: white; }
  .theme-dark .sides {
    background-color: rgba(240, 240, 240, 0.05);
    border-color: black; }

.footer {
  background-color: black;
  color: white;
  height: 63px;
  display: flex;
  flex-direction: column; }

.footer i {
  font-size: 24px;
  margin: 10px; }

.footer span {
  margin: 0 auto; }

.description, .note, .citation {
  font-size: 10px;
  text-align: center;
  padding: 0px 5px; }

.dark-btn {
  color: white;
  background-color: rgba(240, 240, 240, 0.164);
  position: absolute;
  left: 3.5%;
  bottom: 1%;
  padding: 10px;
  width: 80px;
  text-align: center; }

.dark-btn:hover {
  border: 1px solid white;
  cursor: pointer;
  padding: 9px; }

.arcs {
  stroke-width: 2px; }
  .theme-light .arcs {
    stroke: white;
    opacity: 0.4; }
  .theme-dark .arcs {
    stroke: black;
    opacity: 0.7; }

.arcs:hover {
  fill: var(--watch-red); }
  .theme-light .arcs:hover {
    stroke: black;
    opacity: 1; }
  .theme-dark .arcs:hover {
    stroke: white;
    opacity: 1; }

.arc-display {
  fill: var(--watch-red); }
  .theme-light .arc-display {
    stroke: black;
    opacity: 1; }
  .theme-dark .arc-display {
    stroke: white;
    opacity: 1; }

.svg-container {
  flex: 8;
  height: 85vh;
  display: flex;
  justify-content: center;
  background-color: transparent; }

.clock-background {
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 20px;
  background-size: 100%;
  background-position: 50% 50%;
  position: absolute;
  height: 85vh;
  width: 85vh;
  left: 27.45%;
  z-index: -2;
  top: 6.78%; }
  .theme-light .clock-background {
    background-image: url("src/assets/images/light-clock.jpg"); }
  .theme-dark .clock-background {
    background-image: url("src/assets/images/dark-clock.jpg"); }

.clock-hands {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 10px;
  animation-name: rotation;
  animation-duration: 3.3s;
  position: absolute;
  background-size: 100%;
  height: 70vh;
  width: 70vh;
  left: 31.7%;
  z-index: -1;
  top: 14.35%; }
  .theme-light .clock-hands {
    background-image: url("src/assets/images/light-clock-hands.png"); }
  .theme-dark .clock-hands {
    background-image: url("src/assets/images/dark-clock-hands.png"); }

@keyframes rotation {
  from {
    transform: rotate(-720deg); }
  to {
    transform: rotate(720deg); } }
.clock-hands-hour {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 10px;
  animation-name: reverse;
  animation-duration: 3.3s;
  position: absolute;
  background-size: 100%;
  height: 70vh;
  width: 70vh;
  left: 31.7%;
  z-index: -1;
  top: 14.35%; }
  .theme-light .clock-hands-hour {
    background-image: url("src/assets/images/light-clock-hands-hour.png"); }
  .theme-dark .clock-hands-hour {
    background-image: url("src/assets/images/dark-clock-hands-hour.png"); }

@keyframes reverse {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(-360deg); } }
.filter {
  display: none; }
  .theme-light .filter {
    color: black; }
  .theme-dark .filter {
    color: white; }

.display {
  display: block; }

.selected {
  color: white;
  background-color: var(--watch-red); }

.headers {
  width: 100%;
  background-color: var(--watch-red);
  color: white; }

.selector-container {
  overflow-y: auto; }

.selector-container label {
  font-weight: bold;
  font-size: 15px; }

.selectors {
  border-bottom: 1px solid;
  padding: 5px 10px;
  font-size: 0.83em; }
  .theme-light .selectors {
    border-color: white; }
  .theme-dark .selectors {
    border-color: black; }

.selectors div {
  display: block;
  padding: 2px;
  display: flex;
  align-items: flex-start; }

.selectors span {
  margin-left: 10px; }

.category-filter, .selectors-select {
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 100%;
  background-color: transparent;
  padding: 10px 11px;
  border-left: 0px;
  border-right: 0px; }
  .theme-light .category-filter,
  .theme-light .selectors-select {
    border-color: white;
    color: black; }
  .theme-dark .category-filter, .theme-dark .selectors-select {
    border-color: black;
    color: white; }

.category-filter {
  font-size: 14px;
  text-transform: uppercase; }

.category-filter:hover, .selectors-select:hover {
  border: 1px solid;
  padding: 10px;
  background-color: var(--watch-red);
  color: white;
  cursor: pointer; }
  .theme-light .category-filter:hover,
  .theme-light .selectors-select:hover {
    border-color: black; }
  .theme-dark .category-filter:hover, .theme-dark .selectors-select:hover {
    border-color: white; }

.selector-btn {
  border-top: 1px solid;
  border-bottom: 2px solid;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; }
  .theme-light .selector-btn {
    border-color: white;
    color: black; }
  .theme-dark .selector-btn {
    border-color: black;
    color: white; }

.selector-btn:hover {
  background-color: var(--watch-red);
  cursor: pointer;
  color: white;
  border: 1px solid;
  padding: 10px 9px 11px 9px; }
  .theme-light .selector-btn:hover {
    border-color: black; }
  .theme-dark .selector-btn:hover {
    border-color: white; }

.theme-light .citation a {
  color: black; }
.theme-dark .citation a {
  color: white; }

.citation a:hover {
  color: gray; }

.display-data {
  width: 93%; }

.display-data li {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 7.91px 13px;
  font-size: 0.83em;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .theme-light .display-data li {
    border-color: white;
    color: black; }
  .theme-dark .display-data li {
    border-color: black;
    color: white; }

.display-data span {
  background-color: var(--watch-red);
  height: 100%;
  padding: 5px;
  font-weight: 800;
  color: white;
  font-size: 0.9em; }

.theme-light .focused,
.theme-light .display-list-items:hover {
  background-color: black; }
.theme-dark .focused, .theme-dark .display-list-items:hover {
  background-color: white; }

.focused p, .display-list-items:hover p {
  font-weight: 900; }
  .theme-light .focused p,
  .theme-light .display-list-items:hover p {
    color: white; }
  .theme-dark .focused p, .theme-dark .display-list-items:hover p {
    color: black; }

li.params {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5.2px 13px; }

.params p {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 5px 0px; }

.params div:first-of-type {
  font-family: 'Amiri', serif;
  font-weight: 800;
  font-size: 13px;
  margin-bottom: 5px; }

.walkthrough-step {
  display: none;
  position: absolute;
  background-color: white;
  border: #535353 solid 1px;
  box-shadow: 0px 0px 5px #242424;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  text-align: justify;
  animation-name: step;
  animation-duration: 0.75s;
  opacity: 1;
  z-index: 15; }

@keyframes step {
  from {
    opacity: 0.0; }
  to {
    opacity: 1; } }
.walkthrough-step-first {
  width: 330px;
  top: 18.5%;
  left: 22.4%; }

.walkthrough-step-second {
  width: 330px;
  top: 40%;
  left: 22.4%; }

.walkthrough-step-third {
  width: 350px;
  right: 22.4%; }

.walkthrough-step-fourth {
  width: 220px;
  bottom: 6.5%;
  left: 3.5%; }

.walkthrough-step-button {
  border: 1px solid black;
  margin: 10px 0px 0px 85%;
  text-align: center;
  font-size: 12px;
  padding: 3px;
  font-weight: bold;
  color: white;
  background-color: var(--watch-red); }

.walkthrough-step-third .walkthrough-step-button {
  margin-left: 80%; }

.walkthrough-step-fourth .walkthrough-step-button {
  margin-left: 70%; }

.walkthrough-step-button:hover {
  cursor: pointer;
  background-color: #7e212b; }

.walkthrough-display {
  display: block; }

.left-triangle {
  border-right: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute; }

.right-triangle {
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute; }

.down-triangle {
  border-top: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute; }

.up-triangle {
  border-bottom: 15px solid white;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute; }

.walkthrough-first-triangle,
.walkthrough-second-triangle {
  top: 5px;
  left: -6px; }

.walkthrough-third-triangle-a {
  top: 5px;
  right: -6px; }

.walkthrough-third-triangle-b {
  top: -6px;
  left: 50%; }

.walkthrough-fourth-triangle {
  bottom: -6px; }

.component-display {
  position: relative;
  z-index: 10;
  background-color: white;
  animation-name: step;
  animation-duration: 0.75s; }

.dark-btn.component-display {
  background-color: rgba(240, 240, 240, 0.164);
  position: absolute; }

.exit {
  top: 2%;
  left: 1%;
  display: block;
  background-color: gray; }

.exit:hover {
  cursor: pointer;
  color: #3a3a3a;
  color: white; }

/*# sourceMappingURL=timeusage.css.map */
