@import 'themify.scss';
@import 'theme.scss';

.display-data {
    width: 93%;
}

.display-data li {
    @include themify($themes) {
         border-color: themed('oneColor');
         color: themed('otherColor');
    }
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 7.91px 13px;
    font-size: 0.75em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.display-data span {
    background-color: var(--watch-red);
    height: 100%;
    padding: 5px;
    font-weight: 800;
    color: white;
    font-size: 0.9em;
}

.focused,
.display-list-items:hover {
    @include themify($themes) {
        background-color: themed('otherColor');
    }
}

.focused p,
.display-list-items:hover p {
    @include themify($themes) {
        color: themed('oneColor');
    }
    font-weight: 900;
}

li.params {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5.2px 13px;
}

.params p {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 5px 0px;
}

.params div:first-of-type {
    font-family: 'Amiri', serif;
    font-weight: 800;
    font-size: 13px;
    margin-bottom: 5px;
}

