@import 'themify.scss';
@import 'theme.scss';

:root {
    --watch-red: #9D2A37;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

// https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1, h2 {
    font-family: 'Amiri', serif;
    text-align: center;
}

label {
    font-family: 'Amiri', serif; 
}

h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

a:default,
a:visited {
    color: white;
}

a:hover {
    cursor: pointer;
    color: gray;
}

body {
    @include themify($themes) {
        background-color: themed('oneColor');
    }
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    font-size: 36px;
    background-color: black;
    color: white;
    font-weight: 500;
    height: 62px;
    padding-top: 1px;
    letter-spacing: 5px;
    position: relative;
    top: 0;
    width: 100%;
}

.content {
    display: flex;
    margin: 15px 0px;
}

.sides {
    @include themify($themes) {
        background-color: themed('sideColor');
        border-color: themed('oneColor');
    }
    flex: 3;
    margin: 3.75% 30px;
    height: 75vh;
    overflow-x: hidden;
}

.footer {
    background-color: black;
    color: white;
    height: 63px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer i {
    font-size: 24px;
    margin: 10px;
}

.footer span {
    margin: 0 auto;
}

.description, .note, .citation {
    font-size: 10px;
    text-align: center;
    padding: 0px 5px;
}

.dark-btn {
    color: white;
    background-color: rgba(240, 240, 240, 0.164);
    position: fixed;
    left: 3.5%;
    padding: 10px;
    width: 80px;
    text-align: center;
    z-index: 4;
    bottom: 15px;
}

.dark-btn:hover {
    border: 1px solid white;
    cursor: pointer;
    padding: 9px;
}