@import 'themify.scss';
@import 'theme.scss';

// toggled classes
.filter {
    @include themify($themes) {
        color: themed('otherColor');
    }
    display: none;
}

.display {
    display: block;
}

.selected {
    color: white;
    background-color: var(--watch-red);
}

// static classes


.headers {
    width: 100%;
    background-color: var(--watch-red);
    color: white;
}

.selector-container label {
    font-weight: bold;
    font-size: 14px;
}

.selectors {
    @include themify($themes) {
         border-color: themed('oneColor');
    }
    border-bottom: 1px solid;
    padding: 5px 10px;
    font-size: 12px;
}

.selectors div {
    display: block;
    padding: 2px;
    display: flex;
    align-items: flex-start;
}

.selectors span {
    margin-left: 10px;
}

.category-filter,
.selectors-select {
    @include themify($themes) {
         border-color: themed('oneColor');
         color: themed('otherColor');
    }
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    background-color: transparent;
    padding: 10px 11px;
    border-left: 0px;
    border-right: 0px;
    // border-top: 1px solid white;
    // border-bottom: 1px solid white;
}

.category-filter {
    font-size: 14px;
    text-transform: uppercase;

}

.category-filter:hover,
.selectors-select:hover {
    @include themify($themes) {
        border-color: themed('otherColor');
    }
    border: 1px solid;
    padding: 10px;
    background-color: var(--watch-red);
    color: white;
    cursor: pointer;
}

.selector-btn {
    @include themify($themes) {
         border-color: themed('oneColor');
         color: themed('otherColor');
    }
    border-top: 1px solid;
    border-bottom: 2px solid;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.selector-btn:hover {
    background-color: var(--watch-red);
    cursor: pointer;
    color: white;
    @include themify($themes) {
        border-color: themed('otherColor');
    }
    border: 1px solid;
    padding: 10px 9px 11px 9px;
}

.citation a {
    @include themify($themes) {
        color: themed('otherColor');
    }
}

.citation a:hover {
    color: gray;
}