@import 'themify.scss';
@import 'theme.scss';

.arcs {
    @include themify($themes) {
         stroke: themed('oneColor');
         opacity: themed('opacity');
    }
    stroke-width: 2px;
}

.arcs:hover {
    @include themify($themes) {
         stroke: themed('otherColor');
         opacity: themed('solid');
    }
    fill: var(--watch-red);
}

.arc-display {
    @include themify($themes) {
         stroke: themed('otherColor');
         opacity: themed('solid');
    }
    fill: var(--watch-red);
}

.watch-face {
    flex: 8;
}

.svg-container {
    display: flex;
    width: inherit;
    justify-content: center;
    background-color: transparent;
    border: 1px solid red;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1
}

.clock-background {
    @include themify($themes) {
         background-image: themed('image');
    }
    background-repeat: no-repeat;
    margin: auto;
    background-size: 85vh;
    background-position: 50% 50%;
    position: absolute;
    height: 85vh;
    width: 85vh;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.clock-hands {
    @include themify($themes) {
         background-image: themed('minute');
    }
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 10px;
    animation-name: rotation;
    animation-duration: 3.3s;
    position: absolute;
    background-size: 68vh;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@keyframes rotation {
    from {transform: rotate(-720deg);}
    to {transform: rotate(720deg);}
}

.clock-hands-hour {
    @include themify($themes) {
         background-image: themed('hour');
    }
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 10px;
    animation-name: reverse;
    animation-duration: 3.3s;
    position: absolute;
    background-size: 68vh;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@keyframes reverse {
    from {transform: rotate(360deg);}
    to {transform: rotate(-360deg);}
}

// clock images were created in Adobe Illustrator and edited on https://pixlr.com/x/.